# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# R Environment Variables
.Renviron

# Private files in shared folder (WHO shapefile data)
shared/shapefile_data_DSY_adm1.Rds
shared/shapefile_data_DSY_adm2.Rds

# ---VVV--- added by orderly ---VVV----------------
# Don't manually edit content between these markers
.outpack
orderly_envir.yml
draft
archive
# ---^^^--- added by orderly ---^^^----------------
